body{
	background-image: url("../img/fondo.png");
	background-repeat: repeat;
	background-size: 200px 200px;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.score-panel{
	font-size: 120%;
}

.restart{
	margin-left: 20px;
	margin-bottom: 1em;
}

.card {
	background-color: #2E2E2E;
	border-radius: 7px;
	margin: 10px;
	cursor: pointer;
	box-shadow: 5px 7px 13px 0 rgba(45, 58, 68, 0.5);
}

.deck {
	background-color: #8F8F8F;
	width: 500px;
	height: 500px;
	display: grid;
	padding: 10px;
	border-radius: 10px;
	grid-template-columns: repeat(4, minmax(50px,1fr));
	box-shadow: 8px 9px 26px 0 rgba(45, 58, 68, 0.5);
}
